* {
  background: #2b2e4a;
  color: white;
}

.list-items {
  padding: 24px;
  cursor: pointer;
}

.day {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 25px;
  font-weight: bold;
}

.affirmation {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', Sans-Serif;
  font-size: 45px;
  background-color: #2F4858;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
  background-color: #2F4858;
}

.center {
  margin: 5vh 12vw;
  width: 60vw;
  min-height: 45vh;
  padding: 3vh 8vw;
  border-radius: 5px;
  background-color: #2F4858;
}

button {
  background-color: #829356;
  color: white;
  border: 2px solid #829356;
  padding: 16px 32px;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
  border-radius: 5px;
  margin-top: 48px;
}

.selected-affirmation {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 25px;
  font-weight: bold;
  background: #2b2e4a;
  margin-bottom: 48px;
}

.timer {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 55px;
  font-weight: bold;
  background: #2b2e4a;
  border: solid 6px #107896;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

.affirmation-wrapper {
  text-align: center;
  background: #2b2e4a;
  margin: 5vh 20vw;
  width: 40vw;
  min-height: 45vh;
  padding: 3vh 8vw;
}